.links{
    margin-left: 80px;
    font-size: 30px;
    text-transform: uppercase;
    color: red;
    text-decoration: none;
}
.first{
    margin-left: 28%;
}
.links:hover{
    color: #ffcb05;
}
.NavBar{
    background-color: #1e1e1e;
    padding-bottom: 15px;
    padding-top: 15px;
}
#app{
    background-color: #EDEADE;
}
body, html{
    background-color: #EDEADE;
}
