<template>
    <h1 class="title">Home Page</h1>
    <p class="firstP">This is the very welcoming Homepage, which makes you feel welcome here!</p>
</template>

<style scoped>
    .title{
        text-align: center;
        text-transform: uppercase;
        margin: 20px 0;
    }
    .firstP{
        text-align: center;
        font-size: 20px;
        color: #808080;
    }
</style>