<template>
  <div class="background">
    <section class="memory-game">
      <div class="memory-card" data-framework="bulbasaur">
        <img class="front-face" src="/img/bulbasaur.png" alt="Bulbasaur" />
        <img class="back-face" src="/img/cardBG.png" alt="Card Background" />
      </div>
      <div class="memory-card" data-framework="bulbasaur">
        <img class="front-face" src="/img/bulbasaur.png" alt="Bulbasaur" />
        <img class="back-face" src="/img/cardBG.png" alt="Card Background" />
      </div>

      <div class="memory-card" data-framework="charmander">
        <img class="front-face" src="/img/charmander.png" alt="Charmander" />
        <img class="back-face" src="/img/cardBG.png" alt="Card Background" />
      </div>
      <div class="memory-card" data-framework="charmander">
        <img class="front-face" src="/img/charmander.png" alt="Charmander" />
        <img class="back-face" src="/img/cardBG.png" alt="Card Background" />
      </div>

      <div class="memory-card" data-framework="chimchar">
        <img class="front-face" src="/img/chimchar.png" alt="Chimchar" />
        <img class="back-face" src="/img/cardBG.png" alt="Card Background" />
      </div>
      <div class="memory-card" data-framework="chimchar">
        <img class="front-face" src="/img/chimchar.png" alt="Chimchar" />
        <img class="back-face" src="/img/cardBG.png" alt="Card Background" />
      </div>

      <div class="memory-card" data-framework="piplup">
        <img class="front-face" src="/img/piplup.png" alt="Piplup" />
        <img class="back-face" src="/img/cardBG.png" alt="Card Background" />
      </div>
      <div class="memory-card" data-framework="piplup">
        <img class="front-face" src="/img/piplup.png" alt="Piplup" />
        <img class="back-face" src="/img/cardBG.png" alt="Card Background" />
      </div>

      <div class="memory-card" data-framework="squirtle">
        <img class="front-face" src="/img/squirtle.png" alt="Squirtle" />
        <img class="back-face" src="/img/cardBG.png" alt="Card Background" />
      </div>
      <div class="memory-card" data-framework="squirtle">
        <img class="front-face" src="/img/squirtle.png" alt="Squirtle" />
        <img class="back-face" src="/img/cardBG.png" alt="Card Background" />
      </div>

      <div class="memory-card" data-framework="turtwig">
        <img class="front-face" src="/img/turtwig.png" alt="Turtwig" />
        <img class="back-face" src="/img/cardBG.png" alt="Card Background" />
      </div>
      <div class="memory-card" data-framework="turtwig">
        <img class="front-face" src="/img/turtwig.png" alt="Turtwig" />
        <img class="back-face" src="/img/cardBG.png" alt="Card Background" />
      </div>
    </section>
  </div>
</template>

<script scoped>
export default {
  mounted() {
    console.log(`the component is now mounted.`);
    const cards = document.querySelectorAll(".memory-card");
    console.log(cards);

    cards.forEach((card) => card.addEventListener("click", flipCard));
    //II Function
    (function shuffle() {
      cards.forEach((card) => {
        let randomPos = Math.floor(Math.random() * 12);
        card.style.order = randomPos;
      });
    })();
  },
};

let hasFlippedCard = false;
let lockBoard = false;
let firstCard, secondCard;

function flipCard() {
  if (lockBoard) return;
  if (this === firstCard) return;

  this.classList.add("flip");

  if (!hasFlippedCard) {
    hasFlippedCard = true;
    firstCard = this;

    return;
  }
  secondCard = this;

  checkForMatch();
}

function checkForMatch() {
  let isMatch = firstCard.dataset.framework === secondCard.dataset.framework;

  isMatch ? disableCards() : unflipCards();
}

function disableCards() {
  firstCard.removeEventListener("click", flipCard);
  secondCard.removeEventListener("click", flipCard);

  resetBoard();
}

function unflipCards() {
  lockBoard = true;

  setTimeout(() => {
    firstCard.classList.remove("flip");
    secondCard.classList.remove("flip");

    resetBoard();
  }, 1000);
}

function resetBoard() {
  [hasFlippedCard, lockBoard] = [false, false];
  [firstCard, secondCard] = [null, null];
}
</script>

<style scoped>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  height: 92vh;
  display: flex;
  background: #060ab2;
}

.memory-game {
  width: 800px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.restart {
    text-align: center;

}
</style>