<template>
    <div class="center">
      <h1>Pokedex</h1>
      <button @click="fetchPokemon">Catch Pokemon</button>
      <div class="flexDings">
        <div v-for="(item, index) in list" :key="index">
          <div>
            <div class="card">
              <img
                :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${
                  index + 1
                }.png`"
                alt=""
                class="pokemon-img"
              />
              <h3 class="index-number">Nr. {{ index + 1 }}</h3>
              <h2 class="poke-name">{{ item.name }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      list: [],
    };
  },
  async mounted() {
    const stored = localStorage.getItem("pokemon");

    if (stored) {
      console.log("from storage");
      return (this.list = JSON.parse(stored));
    }

    const url = "https://pokeapi.co/api/v2/pokemon?limit=151";

    const data = await fetch(url);
    const pokemon = await data.json();

    localStorage.setItem("pokemon", JSON.stringify(pokemon.results));

    consol.log("from fetch");
    this.list = pokemon.results;
  },
};
</script>

<style scoped>
* {
  box-sizing: border-box;
}
.flexDings{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.center{
  text-align: center;
  justify-content: center;
}
.row::after{
  content: "";
  display: table;
  clear: both;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 300px;
  height: auto;
  background-color: #F9F6EE;
  text-align: center;
  border-radius: 40px;
  margin: 15px;
}
  
img {
  width: 50%;
  margin-left: 30%;
  margin-right: 30%;
  height: auto;
  position: center;
}
.pokemon-img {
  width: 120px;
  height: auto;
}
.poke-name {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.index-number{
  color: grey;
  font-size: 20px;
  padding-top: 10px;
  margin: 0;
}

@media screen and (max-width: 1300px) {
  .column{
    width: 33%;
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .column{
    width: 50%;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .column{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-left: 20%;
  }
}
</style>